* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.herosec {
  height: 75vh;
  width: 100%;
  position: relative;
  background-image: url("background_image.jpeg");
  background-size: cover;
  display: flex;
  justify-content: center;
}
.navbar {
  height: 12vh;
  width: 90%;

  display: flex;
  justify-content: space-between;
}
.logo {
  width: 250px;
  height: auto;
}
.login {
  display: flex;
  gap: 8px;
  margin: 32px;
}
.lang {
  margin: 2px;
  padding: 6px;
}
.signin {
  margin: 2px;
  padding: 6px;
}
